.logo-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
#dp-pic{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
#dp-link{
    position: absolute;
    right: 5px;
}
#logo-pic{
    /* margin-right: 540px; */
}
#ul-div{
    list-style-type: none;
    width: 200px;
    display: none;
    position: absolute;
    transform: translateX(-150px);
    padding-top: 20px;
}
a{
    text-decoration: none;
}
li{text-align: center;
    color: black;
background: grey;
border: 1px solid ;
padding: 0px 20px;
}
#down-arrow{
    width: 10px;
}
.ham-div{
    position: absolute;
    left: 20px;
    cursor: pointer;   
    display: none; 
}
.ham-div div{
    background:black;
    width: 35px;
    border-radius: 5px;
    height: 5px;
}
.ham-div div:after,.ham-div div:before{
    background: black;
    border-radius: 5px;
    width: 35px;
    height: 5px;
    position: absolute;
    content: "";
}
.ham-div div:after{
    transform: translateY(-10px);
}
.ham-div div::before{
    transform: translateY(10px);
}
#hamlink{
width: 100%;
transform: translateY(-9px);
font-family: "Girassol";
position: absolute;
padding: 10px 0px;
background: #fff;
z-index: 99;
/* left: 20px; */
border: 1px solid  grey;
display: none;
}
#hamlink ul{
    list-style-type: none;
    width: 100%;
    padding: 10px;
    position: relative;
}
#hamlink ul li{
    border: none;
    margin: 0px;
    padding: 10px 0px;
    background: transparent;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid grey;


}
#hamlink ul li a {
    text-decoration: none;
    color: black;
}
.xdiv{
    margin-bottom: 20px;
    margin-right: 10px;
}
.xdiv img{
    width: 20px;
    float: right;
    

}
@media (min-width:320px) and (max-width:450px){
    #logo-pic{
        margin: 5px 0px;
    }
    .logo-div{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #dp-link{
        margin-right: 0px;
    }
    .ham-div{
        display: block;
    }
    
}

